.movie-card {
  position: relative;
  &__poster {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100% - 10px);
    height: calc(((100vw -8% - 60px) / 5) * 281 / 500);
    margin: 0 auto;
  }
  &__info {
    position: absolute;
    width: calc(100% - 10px);
    height: 100%;
    top: 0;
    left: 50%;
    @include tranform_c(translateX(-50%));
  }

  &:hover {
  }
}