@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #000;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.7;
  word-break: break-word; }

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  a:link, a:visited {
    color: currentColor; }
  a:active, a:hover {
    opacity: 0.5; }

ul {
  list-style: none; }

button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  button:focus {
    outline: none; }

img {
  height: auto;
  vertical-align: middle; }

input:focus {
  outline: none; }

.container {
  width: calc(100% - 30px);
  max-width: 1024px;
  margin: 0 auto; }

main {
  padding: 50px 20px; }

.first-view {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 100vh;
  padding-left: 4%;
  position: relative; }
  .first-view::before {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, transparent, #141414);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .first-view__container {
    color: #fff;
    width: 100%;
    position: relative; }
    .first-view__container .title {
      font-size: 58px;
      text-shadow: 2px 2px 4px rgba(20, 20, 20, 0.45); }
    .first-view__container .overview {
      width: 100%;
      max-width: 600px;
      font-size: 20px;
      padding: 30px 0;
      text-shadow: 1px 1px 2px rgba(20, 20, 20, 0.45); }
    .first-view__container .group {
      display: flex;
      justify-content: space-between; }
      .first-view__container .group .btn {
        display: flex; }
        .first-view__container .group .btn a {
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          font-weight: bold; }
          .first-view__container .group .btn a svg {
            margin-right: 10px; }
        .first-view__container .group .btn__play {
          background: #d33027;
          width: 110px;
          margin-right: 15px; }
          .first-view__container .group .btn__play svg {
            width: 15px; }
        .first-view__container .group .btn__more {
          background: #fff;
          color: #000;
          width: 150px; }
          .first-view__container .group .btn__more svg {
            width: 20px; }
      .first-view__container .group .rated {
        background: rgba(255, 255, 255, 0.5);
        border-left: 2px solid #fff;
        display: flex;
        align-items: center;
        width: 82px;
        height: 34px;
        font-size: 18px;
        padding-left: 8px;
        text-shadow: 1px 1px 2px rgba(20, 20, 20, 0.45); }

.movie-card {
  padding: 0 5px; }
  .movie-card__box {
    display: block;
    width: 100%;
    position: relative; }
    .movie-card__box:hover {
      opacity: 1; }
      .movie-card__box:hover .movie-card__info {
        opacity: 1; }
        .movie-card__box:hover .movie-card__info .title {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0); }
  .movie-card__poster {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(((100vw -8% - 60px) / 5) * 281 / 500);
    margin: 0 auto; }
  .movie-card__info {
    position: absolute;
    background: rgba(20, 20, 20, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .movie-card__info .title {
      color: #fff;
      font-size: 1.3vw;
      padding: 0 10px;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }

.modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1040; }

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .modal .modal-dialog {
    background: #fff;
    border-radius: 10px;
    width: calc(100% - 30px);
    max-width: 800px;
    height: calc(100% - 60px);
    padding: 30px;
    margin: 0 auto;
    position: relative;
    top: 30px;
    overflow: auto;
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .modal.show .modal-dialog {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

.movies {
  color: #fff; }
  .movies:not(:first-of-type) {
    margin-top: 80px; }
  .movies__title {
    font-size: 22px;
    font-weight: bold;
    padding-left: 4%;
    position: relative; }
    .movies__title::before {
      content: '';
      position: absolute;
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
      width: 8px;
      height: 8px;
      top: 60%;
      right: -15px;
      -webkit-transform: translateY(-50%) rotate(45deg);
      -moz-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
      -o-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
    .movies__title span {
      position: absolute;
      width: 75px;
      font-size: 12px;
      padding-left: 10px;
      top: 60%;
      left: 100%;
      opacity: 0;
      -webkit-transform: translate(-10px, -50%);
      -moz-transform: translate(-10px, -50%);
      -ms-transform: translate(-10px, -50%);
      -o-transform: translate(-10px, -50%);
      transform: translate(-10px, -50%);
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
    .movies__title:hover {
      opacity: 1; }
      .movies__title:hover::before {
        border-width: 2px;
        right: -84px;
        width: 6px;
        height: 6px; }
      .movies__title:hover span {
        opacity: 1;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%); }
  .movies .slick-slider {
    margin-top: 12px; }
    .movies .slick-slider .slick-arrow {
      position: absolute;
      background: rgba(20, 20, 20, 0.5);
      width: calc(4% - 5px);
      height: 100%;
      top: 0;
      font-size: 0;
      opacity: 0;
      z-index: 20;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
      .movies .slick-slider .slick-arrow::before {
        content: '';
        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        width: 14px;
        height: 14px;
        top: 50%;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
      .movies .slick-slider .slick-arrow.slick-prev {
        left: 0; }
        .movies .slick-slider .slick-arrow.slick-prev::before {
          left: calc(50% + 4px);
          -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          -moz-transform: translate(-50%, -50%) rotate(-135deg);
          -ms-transform: translate(-50%, -50%) rotate(-135deg);
          -o-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg); }
      .movies .slick-slider .slick-arrow.slick-next {
        right: 0; }
        .movies .slick-slider .slick-arrow.slick-next::before {
          right: calc(50% + 4px);
          -webkit-transform: translate(50%, -50%) rotate(45deg);
          -moz-transform: translate(50%, -50%) rotate(45deg);
          -ms-transform: translate(50%, -50%) rotate(45deg);
          -o-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg); }
      .movies .slick-slider .slick-arrow:hover::before {
        border-width: 4px;
        width: 18px;
        height: 18px; }
    .movies .slick-slider:hover .slick-arrow {
      opacity: 1; }

.footer {
  background: #141414;
  color: grey;
  text-align: center;
  padding: 50px 15px; }
  .footer__logo img {
    width: 100%;
    max-width: 92px; }
  .footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0; }
    .footer__social li {
      font-size: 0;
      padding: 0 15px; }
      .footer__social li svg {
        height: 30px; }
  .footer__copyright {
    padding-top: 25px;
    position: relative; }
    .footer__copyright::before {
      content: '';
      position: absolute;
      background: currentColor;
      width: 100%;
      max-width: 360px;
      height: 1px;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }

.header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 68px;
  padding: 0 4%;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .header--scroll {
    background: #141414; }
  .header__left {
    display: flex; }
    .header__left .logo {
      width: 92px;
      margin-right: 44px; }
      .header__left .logo img {
        width: 100%; }
    .header__left .directory {
      display: flex; }
      .header__left .directory li:not(:last-child) {
        margin-right: 18px; }
      .header__left .directory li a {
        font-size: 12px; }
        .header__left .directory li a.current {
          font-weight: bold;
          pointer-events: none; }
  .header__right {
    height: 100%; }
    .header__right .personal {
      display: flex;
      height: 100%; }
      .header__right .personal li {
        height: 100%; }
        .header__right .personal li:not(:first-child) {
          margin-left: 18px; }
        .header__right .personal li a {
          display: flex;
          align-items: center;
          height: 100%; }
          .header__right .personal li a svg {
            width: 17px; }
          .header__right .personal li a .avatar {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
            width: 32px;
            height: 32px;
            overflow: hidden; }
          .header__right .personal li a .caret {
            width: 10px;
            height: 5px;
            margin-left: 10px;
            position: relative; }
            .header__right .personal li a .caret::before {
              content: '';
              position: absolute;
              border-top: 5px solid #fff;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent; }

#main {
  background: #141414; }
